body {
    background-color: #473f8c;
}

nav {
    padding: 1rem 5%;
    background: rgba(255, 255, 255, 0.05);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    margin-bottom: 2rem;


}

nav .nav-group {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
    margin: 0 auto;
}


.logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: #cfe3e6;
    letter-spacing: 1px;
    
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links li a {
    position: relative;
    font-size: 1.05rem;
    font-weight: 500;
    text-decoration: none;
    color: #ffebcd;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #cfe3e6;
    text-shadow: 0 0 10px #33082f;
}